<div class="hyf-container">
  <hyf-child-toolbar [title]="'About Hack Your Future'"></hyf-child-toolbar>
  <div class="hyf-content">
    <hyf-flex-container>
      <md-card>
        <md-card-title>We teach refugees web-development in our 6-month program</md-card-title>
        <md-card-content>
          <p>We teach our students front- and backend development for the web, making them full-stack
            developers as they finish our course.</p>
          <p>We do this with our group of experienced developers who closely support our students
            in their process. Besides coding we train our students in project-management, becoming independent
            coders and teach them about the working culture in Dutch companies.</p>
          <p>Visit us at <strong><a href="http://www.hackyourfuture.net/" target="_blank">Hack Your
            Future</a></strong>.
          </p>
        </md-card-content>
      </md-card>
    </hyf-flex-container>
  </div>
</div>